.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7548e2;
    height: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}

.logo {
    height: 50px;
    width: 50px;
}

.logo img {
    width: 100%;
    height: auto;
}
