.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 50px 80px;
}

.intents_list {
    width: 38%;
    box-sizing: border-box;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
}

.intent_detail {
    width: 60%;
    box-sizing: border-box;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
}

.right_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px) {
    .container {
        flex-direction: column;
        margin: 30px 40px;
    }

    .intents_list {
        width: 100%;
        margin-bottom: 20px;
    }

    .intent_detail {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .container {
        margin: 20px;
    }
}
